@font-face {
    font-family: 'Josefin Sans';
    src: local(Josefin Sans)
        url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('//fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: local(Darker DarkerGrotesque-SemiBold)
        url('../fonts/DarkerGrotesque-SemiBold.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: local(Darker DarkerGrotesque-Medium)
        url('../fonts/DarkerGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: local(DarkerGrotesque-Regular)
        url('../fonts/DarkerGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121521;
}

.header {
    width: 1240px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.a-items {
    align-items: center;
}

.j-flex {
    justify-content: space-between;
}

.menu__header--right-list {
    list-style: none;
}

.menu__header--right-list a {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.menu__header--right-list {
    width: 706px;
    height: 140px;
}

.banner {
    width: 1240px;
    margin: auto;
}

.banner__blocks {
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: 750px;
}

.banner__right {
    position: absolute;
    right: -340px;
    top: 0;
}

.size-20 {
    font-size: 20px;
}

.size-32 {
    font-size: 32px;
}

.banner__left p {
    font-family: 'Darker Grotesque', sans-serif;
    color: #B2B2D3;
}

.banner__left--head {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
}

.banner__btn {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 410px;
    margin-top: 100px;
}

.btn__left {
    justify-content: center;
    background-color: #40467C;
    width: 176px;
    height: 59px;
    text-decoration: none;
    color: white;
}

.btn__right {
    justify-content: center;
    background-color: rgba(20, 25, 35, 0.01);
    border: 2px solid #FFFFFF;
    width: 204px;
    text-decoration: none;
    height: 59px;
    color: white;
}

.video__block {
    width: 1240px;
    margin: auto;
    margin-top: 119px;
    height: 524px;
    background: #1B213A;
    margin-bottom: 124px;
}

.video__block--btn {
    background-color: #40467C;
    position: absolute;
    width: 57.04px;
    height: 60px;
    margin-left: 274px;
    margin-top: 232px;
}

.video__block--btn-start {
    position: absolute;
    width: 17px;
    height: 24px;
    left: 24px;
    top: 18px;
}

.d-grid {
    display: grid;
}

.video__block--right h2 {
    font-size: 46px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.video__block--right-head {
    margin: 0;
    width: 636px;
    margin-left: 30px;
    margin-top: 55px;
}

.video__block--right-text {
    font-family: 'Darker Grotesque', sans-serif;
    grid-template-columns: 275px 275px;
    gap: 30px;
    margin-left: 30px;
}

.video__block--right-text h3 {
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin: 30px 0 0 0;
    width: 273px;
    line-height: 30px;
}

.video__block--right-text p {
    font-weight: 400;
    font-size: 20px;
    color: #B2B2D3;
    margin-bottom: 0;
    width: 270px;
}

.video__block--right-item {
    height: 60px;
}

.locations {
    width: 1240px;
    margin: auto;
}

.locations h2 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    font-family: 'Josefin Sans', sans-serif;
}

.arrow__left {
    box-sizing: border-box;
    border: 2px solid #40467C;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-top: 0px;
}

.locations__arrow-left {
    position: absolute;
    margin-left: 20px;
    margin-top: 18px;
}

.arrow__right {
    background-color: #40467C;
    width: 60px;
    height: 60px;
    margin-top: 0px;
}

.locations__arrow-right {
    position: absolute;
    margin-left: 25px;
    margin-top: 18px;
}
/* что-то не то */
.locations__cards-block {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
}

.locations__cards-block h4 {
    font-size: 28px;
    margin-top: 20px;
}

.block__img {
    margin-top: 33px;
    margin-right: 8px;
    height: 16px;
}

.mark {
    margin-top: 26px;
}

.block__two-city {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B2B2D3;
}

.block__two-cost {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.block__cost-person {
    color: #B2B2D3;
    font-weight: 400;
}





